<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css"  href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
    <style>
        .page {
            //visibility: hidden;
        }

        .page.ready {
            //visibility: visible;
        }
    </style>
</head>
<body data-ng-app="navigationApp" class="page" data-ng-class="ready" data-ng-init="pageReady();">
    <div data-ng-controller="PageController">
        <section id="panel">
            <label for="from">From:</label>
            <input id="from" data-ng-model="from">
            <label for="to">To:</label>
            <input id="to" data-ng-model="to">

            <br/>

            <input id="center" data-ng-model="centerPosition">

            <button data-ng-click="getRoute();">Get route</button>

            <p>center: {{centerPosition}}</p>
            <p>routes: {{routes}}</p>

        </section>
        <section id="map" data-map data-center-position="centerPosition"></section>
    </div>

    <!--<script src="scripts/angular.min.js"></script>-->
    <script type="text/javascript" charset="UTF-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script type="text/javascript" charset="UTF-8" src="scripts/navigation-app.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/routing-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/controllers/page-controller.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/directives/map.js"></script>

    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

</body>
</html>