<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/navigation-app.css" />
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
</head>
<body data-ng-app="navigationApp" class="page" data-ng-class="ready" data-ng-init="pageReady();">
    <div data-ng-controller="PageController">
        <section id="panel">

            <!-- replace with directives for suggestions -->
            <label for="from">From:</label>
            <input id="from" data-ng-model="from">
            <br>
            <label for="to">To:</label>
            <input id="to" data-ng-model="to">

            <button data-ng-click="getRoute();">Get route</button>

            <ul>
                <li data-ng-repeat="route in proposedRoutes">
                    <p data-ng-bind-html="trustedText(route.summary.text);" data-ng-click="selectRoute(route);"></p>
                </li>
            </ul>

            <br/>

            <label for="centerLatitude">latitude:</label>
            <input id="centerLatitude" data-ng-model="centerPosition.latitude">
            <label for="centerLongitude">longitude:</label>
            <input id="centerLongitude" data-ng-model="centerPosition.longitude">

            <p>center: {{centerPosition}}</p>
            <!--<p>routes: {{proposedRoutes}}</p>-->

        </section>
        <section id="map" data-map data-center-position="centerPosition" data-proposed-routes="proposedRoutes"></section>
    </div>

    <!--<script src="scripts/angular.min.js"></script>-->
    <script type="text/javascript" charset="UTF-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script type="text/javascript" charset="UTF-8" src="scripts/navigation-app.js"></script>

    <script type="text/javascript" charset="UTF-8" src="scripts/services/color-themes-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/routing-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/map-api-service.js"></script>

    <script type="text/javascript" charset="UTF-8" src="scripts/controllers/page-controller.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/directives/map.js"></script>

    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

</body>
</html>