<!DOCTYPE html>
<html>
<head lang="en">
    <base href=/">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/navigation-app.css" />
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
</head>
<body data-ng-app="navigationApp" class="page">
    <div data-ng-controller="PageController" data-ng-class="ready" data-ng-init="pageReady();">
        <section id="panel">
            <!--<span data-ng-hid="gettingLocationError">geo:{{currentPosition.latitude}} {{currentPosition.longitude}}</span>-->
            <span data-ng-show="gettingLocationError">Problem with finding geo localisation.</span>
            <section data-ng-view></section>
        </section>
        <section
                id="map"
                data-map
                data-routes="routes"
                data-way-points="wayPoints"
                data-areas-to-avoid="areasToAvoid"
                data-current-position="currentPosition"
                data-update-to-position="updateToPosition"
                data-zoom-level="zoomLevel">
            <form>
                <ul class="menu">
                    <li><button class="menu-item from">from</button></li>
                    <li><button class="menu-item waypoint" data-ng-disabled="!allowAddingWayPoints();">add waypoint</button></li>
                    <li><button class="menu-item to">to</button></li>
                    <li><button class="menu-item avoid">avoid area</button></li>
                </ul>
            </form>
        </section>
    </div>

    <!--<script src="scripts/angular.min.js"></script>-->
    <script type="text/javascript" charset="UTF-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>

    <script type="text/javascript" charset="UTF-8" src="scripts/app.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/app-routing.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/app-config.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/app-events.js"></script>

    <!--<script type="text/javascript" charset="UTF-8" src="scripts/services/geo-location-service-simulator.js"></script>-->
    <script type="text/javascript" charset="UTF-8" src="scripts/services/geo-location-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/state-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/color-themes-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/routing-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/search-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/geo-coder-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/map-api-service.js"></script>

    <script type="text/javascript" charset="UTF-8" src="scripts/controllers/page-controller.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/controllers/form-controller.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/controllers/search-results-controller.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/controllers/route-controller.js"></script>

    <script type="text/javascript" charset="UTF-8" src="scripts/directives/map.js"></script>

    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

</body>
</html>