<!DOCTYPE html>
<html lang="en">
<head>
    <base href=/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/navigation-app.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
</head>
<body data-ng-app="navigationApp" class="page">
    <div data-ng-controller="PageController" data-ng-class="ready" data-ng-init="pageReady();" class="container-fluid">
        <div class="row">
            <section id="panel" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <span
                        class="alert alert-warning center-block text-center"
                        role="alert"
                        data-ng-show="gettingLocationError"
                        >
                    Problem with finding your location.
                </span>
                <section data-ng-hide="onlyMapShown()" data-ng-view></section>
                <a
                        class="panel-toggle pull-right"
                        data-ng-hide="onlyMapShown()"
                        href="#show-map-btn"
                        data-ng-href="#show-map-btn"
                        data-ng-click="mapShown = !mapShown"
                        id="show-map-btn">
                    show map
                </a>
                <button
                        class="panel-toggle pull-right"
                        data-ng-show="onlyMapShown()"
                        data-back-button
                        data-ng-click="mapShown = !mapShown" >
                    show panel
                </button>
            </section>
            <section
                    class="col-xs-12 col-sm-12 col-md-8 col-lg-8"
                    id="map"
                    data-map
                    data-resize-element
                    data-routes="routes"
                    data-way-points="wayPoints"
                    data-areas-to-avoid="areasToAvoid"
                    data-current-position="currentPosition"
                    data-update-to-position="updateToPosition"
                    data-zoom-level="zoomLevel">
                <form>
                    <ul class="bubble">
                        <li><button class="menu from">from</button></li>
                        <li><button class="menu waypoint" data-ng-disabled="!allowAddingWayPoints();">add way point</button></li>
                        <li><button class="menu to">to</button></li>
                        <li><button class="menu avoid">avoid area</button></li>
                    </ul>
                </form>
            </section>
        </div>
    </div>

    <!--<script src="scripts/angular.min.js"></script>-->
    <script type="text/javascript" charset="UTF-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>

    <script type="text/javascript" charset="UTF-8" src="scripts/app.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/app-routing.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/app-config.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/app-events.js"></script>

    <!--<script type="text/javascript" charset="UTF-8" src="scripts/services/geo-location-service-simulator.js"></script>-->
    <script type="text/javascript" charset="UTF-8" src="scripts/services/geo-location-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/state-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/color-themes-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/routing-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/search-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/geo-coder-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/services/map-api-service.js"></script>

    <script type="text/javascript" charset="UTF-8" src="scripts/controllers/page-controller.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/controllers/form-controller.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/controllers/search-results-controller.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/controllers/route-controller.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/controllers/navigation-controller.js"></script>

    <script type="text/javascript" charset="UTF-8" src="scripts/directives/map.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/directives/back-button.js"></script>
    <script type="text/javascript" charset="UTF-8" src="scripts/directives/resize-element.js"></script>

    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

</body>
</html>