<form>

    <label for="current-position-as-start-point">Use current position as start point</label>
    <input
            type="checkbox"
            id="current-position-as-start-point"
            name="current-position-as-start-point"
            data-ng-disabled="!currentPositionAvailable"
            data-ng-model="useCurrentPosition"
            data-ng-change="useCurrentPositionAsStartPoint();">

    <ul class="list-unstyled">
        <li class="way-point" data-ng-repeat="wayPoint in wayPoints track by $index">

            <div class="input-group">
                <input
                        id="search-field-{{$index}}"
                        type="text"
                        autocomplete="off"
                        class="form-control"
                        placeholder="Type location"
                        data-ng-focus="markActiveField($index);"
                        data-ng-blug="unMarkActiveField();"
                        data-ng-keyup="getSuggestions();"
                        data-ng-model="wayPoints[$index].title"
                        >

                <div class="input-group-btn">
                    <button
                            class="btn btn-default"
                            aria-label="remove"
                            type="button"
                            data-ng-if="$index > 0 && $index < (wayPoints.length - 1)"
                            data-ng-click="removeWayPoint($index);"
                            >
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    </button>

                    <button
                            class="btn btn-default"
                            aria-label="down"
                            type="button"
                            data-ng-if="$index < (wayPoints.length - 1)"
                            data-ng-click="moveWayPointDown($index);"
                            >
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    </button>

                    <button
                            class="btn btn-default"
                            aria-label="up"
                            type="button"
                            data-ng-if="$index > 0"
                            data-ng-click="moveWayPointUp($index);"
                            >
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div data-ng-if="isActiveField($index) && wayPoints[$index].suggestions;" class="search-suggestions list-group">
                <a
                        class="list-group-item"
                        data-ng-click="search(suggestion);"
                        data-ng-repeat="suggestion in wayPoints[$index].suggestions track by $index">{{suggestion}}</a>
            </div>

            <!--<ul data-ng-if="isActiveField($index);" class="search-suggestions list-unstyled">-->
                <!--<li data-ng-repeat="suggestion in wayPoints[$index].suggestions track by $index">-->
                    <!--<button class="btn btn-link" data-ng-click="search(suggestion);">{{suggestion}}</button>-->
                <!--</li>-->
            <!--</ul>-->

        </li>
    </ul>

    <button
            class="btn btn-default"
            aria-label="up"
            type="button"
            data-ng-click="unMarkActiveField(); addWayPoint();"
            >
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </button>

    <br>

    <div data-ng-show="areasToAvoid">
        <hr>
        <h5>Areas to avoid:</h5>
        <ul class="list-unstyled">
            <li class="area-to-avoid" data-ng-repeat="areaToAvoid in areasToAvoid track by $index">
                <!--<span>{{$index + 1}}.</span>-->
                <!--<span>{{areaToAvoid.title}}</span>-->

                <div class="input-group">
                    <input
                            type="text"
                            autocomplete="off"
                            class="form-control"
                            data-ng-model="areaToAvoid.title"
                            disabled="disabled"
                            >
                    <div class="input-group-btn">
                        <button
                                class="btn btn-default"
                                aria-label="remove"
                                type="button"
                                data-ng-click="removeWayAreaToAvoid($index);"
                                >
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <button data-ng-click="getRoute();" class="btn btn-primary">Calculate</button>
    <button data-ng-click="clear();" class="btn btn-default">Clear</button>
</form>