<form>

    <!--<span>geo: {{geoLocation}}</span>-->

    <ul>
        <li data-ng-repeat="wayPoint in wayPoints track by $index">
            <label data-ng-if="$index === 0" for="search-field-{{$index}}">From:</label>
            <label data-ng-if="$index > 0 && $index < (wayPoints.length - 1)" for="search-field-{{$index}}">Thru:</label>
            <label data-ng-if="$index === (wayPoints.length - 1)" for="search-field-{{$index}}">To:</label>

            <input
                    id="search-field-{{$index}}"
                    type="text"
                    autocomplete="off"
                    data-ng-focus="markActiveField($index);"
                    data-ng-blug="unMarkActiveField();"
                    data-ng-keyup="getSuggestions();"
                    data-ng-model="wayPoints[$index].title"
                    >
            <ul data-ng-if="isActiveField($index);" class="search-suggestions">
                <li data-ng-repeat="suggestion in wayPoints[$index].suggestions track by $index">
                    <button data-ng-click="search(suggestion);">{{suggestion}}</button>
                </li>
            </ul>

            <input
                    id="waypoint-{{$index}}"
                    type="hidden"
                    data-ng-model="wayPoints[$index].coordinates"
                    >
            <button data-ng-if="$index > 0 && $index < (wayPoints.length - 1)"
                    data-ng-click="removeWayPoint($index);" >-</button>
        </li>
    </ul>

    <button data-ng-click="unMarkActiveField(); addWayPoint();">+</button>

    <br>

    <ul>
        <li data-ng-repeat="areaToAvoid in areasToAvoid track by $index">
            <span>{{$index}}.</span>
            <span>{{areaToAvoid.title}}</span>
            <button data-ng-click="removeWayAreaToAvoid($index);" >-</button>
        </li>
    </ul>

    <button data-ng-click="getRoute();">Get route</button>
    <button data-ng-click="clear();">Clear</button>
</form>