<form>

    <label for="current-position-as-start-point">Use current position as start point</label>
    <input
            type="checkbox"
            id="current-position-as-start-point"
            name="current-position-as-start-point"
            data-ng-disabled="!currentPositionAvailable"
            data-ng-model="useCurrentPosition"
            data-ng-change="useCurrentPositionAsStartPoint();">

    <ul class="list-unstyled">
        <li data-ng-repeat="wayPoint in wayPoints track by $index">
            <!--<label data-ng-if="$index === 0" for="search-field-{{$index}}">From:</label>-->
            <!--<label data-ng-if="$index > 0 && $index < (wayPoints.length - 1)" for="search-field-{{$index}}">Thru:</label>-->
            <!--<label data-ng-if="$index === (wayPoints.length - 1)" for="search-field-{{$index}}">To:</label>-->
            <!--<label for="search-field-{{$index}}">{{$index+1}}.</label>-->

            <input
                    id="search-field-{{$index}}"
                    type="text"
                    autocomplete="off"
                    placeholder="Type location"
                    data-ng-focus="markActiveField($index);"
                    data-ng-blug="unMarkActiveField();"
                    data-ng-keyup="getSuggestions();"
                    data-ng-model="wayPoints[$index].title"
                    >

            <button data-ng-if="$index > 0 && $index < (wayPoints.length - 1)"
                    data-ng-click="removeWayPoint($index);" >-</button>

            <button data-ng-if="$index < (wayPoints.length - 1)"
                    data-ng-click="moveWayPointDown($index);" >down</button>

            <button data-ng-if="$index > 0"
                    data-ng-click="moveWayPointUp($index);" >up</button>

            <ul data-ng-if="isActiveField($index);" class="search-suggestions list-unstyled">
                <li data-ng-repeat="suggestion in wayPoints[$index].suggestions track by $index">
                    <button class="btn btn-link" data-ng-click="search(suggestion);">{{suggestion}}</button>
                </li>
            </ul>
        </li>
    </ul>

    <button data-ng-click="unMarkActiveField(); addWayPoint();">+</button>

    <br>

    <ul>
        <li data-ng-repeat="areaToAvoid in areasToAvoid track by $index">
            <span>{{$index}}.</span>
            <span>{{areaToAvoid.title}}</span>
            <button data-ng-click="removeWayAreaToAvoid($index);" >-</button>
        </li>
    </ul>

    <button data-ng-click="getRoute();" class="btn btn-primary">Calculate</button>
    <button data-ng-click="clear();" class="btn btn-default">Clear</button>
</form>