<form id="navigation-view" data-ng-hide="onLeaveConfirmation || undefinedRoute">
    <button
            class="btn btn-primary"
            id="stop-navigation"
            data-ng-hide="driveModeEnabled"
            data-back-button
            >
        Stop navigation
    </button>

    <!--<p data-ng-bind-html="getInstruction()"></p>-->
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>{{currentSpeed | metersPerSecondToKilometersPerHour}} km/h</h3>
            <svg data-ng-show="speedLimit > 0" height="50" width="50">
                <circle cx="25" cy="25" r="20" stroke="red" stroke-width="5" fill="#FFF" ></circle>
                <text x="20" y="30"
                      dx="4"
                      dy="2"
                      font-family="sans-serif"
                      font-size="20px"
                      text-anchor="middle"
                      fill="#000">{{speedLimit | metersPerSecondToKilometersPerHour}}</text>
                {{speedLimit | metersPerSecondToKilometersPerHour}}
            </svg>
        </div>
    </div>
    <ul class="list-group maneuvers-list">
        <li
                data-ng-repeat="maneuvers in maneuvers; track by $index"
                class="list-group-item"
                data-ng-class="{ 'active' : isNextManeuver($index) }"
                >
            <p data-ng-bind-html="trustedText(maneuvers.instruction);"></p>
        </li>
    </ul>

</form>
<p data-ng-show="undefinedRoute" class="alert alert-danger" role="alert">
    No route found. <a href="/" class="pull-right" data-ng-href="/">search</a>
</p>
<form id="stop-navigation-confirm" data-ng-show="onLeaveConfirmation">
    <p>Stop navigation?</p>
    <button data-ng-click="confirm();" class="btn btn-primary">Stop</button>
    <button data-ng-click="cancel();" class="btn btn-default">Cancel</button>
</form>
