<form data-ng-hide="onLeaveConfirmation || undefinedRoute">
    <button
            class="btn btn-primary"
            data-ng-hide="driveModeEnabled"
            data-back-button>
        Stop navigation
    </button>

    <ul>
        <li data-ng-repeat="maneuver in getManeuver();">
            <p data-ng-bind-html="trustedText(maneuver.instruction);"></p>
        </li>
    </ul>
</form>
<p data-ng-show="undefinedRoute" class="alert alert-danger" role="alert">
    No route found. <a href="/" data-ng-href="/">Search</a>
</p>
<form data-ng-show="onLeaveConfirmation">
    <p>Stop navigation?</p>
    <button data-ng-click="cancel();" class="btn btn-default">Cancel</button>
    <button data-ng-click="confirm();" class="btn btn-primary">Stop</button>
</form>
