<form id="navigation-view" data-ng-hide="onLeaveConfirmation || undefinedRoute">
    <button
            class="btn btn-primary"
            id="stop-navigation"
            data-ng-hide="driveModeEnabled"
            data-back-button
            >
        Stop navigation
    </button>

    <!--<p data-ng-bind-html="getInstruction()"></p>-->
    <div class="panel panel-default">
        <div class="panel-body">
            {{currentSpeed | metersPerSecondToKilometersPerHour}} km/h
        </div>
    </div>
    <ul class="list-group maneuvers-list">
        <li
                data-ng-repeat="maneuvers in maneuvers; track by $index"
                class="list-group-item"
                data-ng-class="{ 'active' : isNextManeuver($index) }"
                >
            <p data-ng-bind-html="trustedText(maneuvers.instruction);"></p>
        </li>
    </ul>

</form>
<p data-ng-show="undefinedRoute" class="alert alert-danger" role="alert">
    No route found. <a href="/" class="pull-right" data-ng-href="/">search</a>
</p>
<form id="stop-navigation-confirm" data-ng-show="onLeaveConfirmation">
    <p>Stop navigation?</p>
    <button data-ng-click="confirm();" class="btn btn-primary">Stop</button>
    <button data-ng-click="cancel();" class="btn btn-default">Cancel</button>
</form>
