<form>
    <a data-ng-hide="undefinedRoute"
       data-ng-href="/navigate/{{index}}">
        Start navigation
    </a>

    <button data-ng-hide="undefinedRoute"
            data-back-button>
        Back
    </button>

    <ul data-ng-hide="undefinedRoute">
        <li data-ng-repeat="maneuver in getManeuver();">
            <p data-ng-bind-html="trustedText(maneuver.instruction);"></p>
        </li>
    </ul>
</form>
<p data-ng-show="undefinedRoute">
    No route found. <a href="/" data-ng-href="/">Search</a>
</p>