<form data-ng-hide="undefinedRoute">
    <a data-ng-href="/navigate/{{index}}" class="btn btn-primary">Start navigation</a>

    <button data-back-button class="btn btn-default">Back</button>

    <ul class="list-group maneuvers-list">
        <li data-ng-repeat="maneuver in getManeuver();" class="list-group-item">
            <p data-ng-bind-html="trustedText(maneuver.instruction);"></p>
        </li>
    </ul>
</form>
<p data-ng-show="undefinedRoute">
    No route found. <a href="/" data-ng-href="/" class="btn btn-default">Search</a>
</p>