#panel {
    margin: 10px 0;
}

#map {
    height: 100vh;
    padding: 0;
}

/* form page ***********************/

li.way-point, li.area-to-avoid {
    padding: 5px 0;
}

/* route page ***********************/

ul.maneuvers-list {
    margin-top: 20px;
}


/* toggle map / panel button ***************************/

button.panel-toggle {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .panel-toggle {
        display: none;
    }
}