#panel {
    margin: 10px 0;
}

#map {
    height: 100vh;
    padding: 0;
}

/* form page ***********************/

li.way-point {
    padding: 5px 0;
}


/* toggle map / panel button ***************************/

.panel-toggle {
    float: right;
}

button.panel-toggle {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .panel-toggle {
        display: none;
    }
}