
#page {
    display: none;
}

#page.ready {
    display: block;
}

#panel {
    margin: 10px 0;
}

#map {
    height: 100vh;
    padding: 0;
}

.bubble {
    padding-right: 25px;
}

/* toggle map / panel button ***************************/

.toggle-panels-btn-container {
    margin-bottom: 15px;
}

/* form page ***********************/

li.way-point, li.area-to-avoid {
    padding: 5px 0;
}

/* route page ***********************/

ul.maneuvers-list {
    margin-top: 20px;
}

/* navigation page ***********************/


#stop-navigation, #stop-navigation-confirm {
    margin-bottom: 15px;
}

#current-route-state div {
    text-align: center;
}

#current-route-state p {
    margin-top: 15px;
}

#speed-limit {
    margin-top: 5px;
}

@media (min-width: 992px) {
    .toggle-panels-btn-container {
        display: none;
    }

    #map {
        position: fixed;
        right: 0;
    }
}

/* making panels displayed to take full space in mobile view ************/

@media (max-width: 991px) {

    html, body, #page, #page .row {
        height: 100%;
    }

    #page.container-fluid {
        padding-right: 0;
    }

    #page .row {
        display: table;
        width: 100%;
        padding-left: 15px;
        padding-top: 15px;
    }

    #map {
        height: 100%;
    }

    #panel, #map {
        float: none;
        display: table-row;
    }

    #navigation-view .list-group-item {
        display:none;
    }

    #navigation-view .list-group-item.active {
        display:block;
    }

    #stop-navigation {
        float: left;
    }

    #stop-navigation, #stop-navigation-confirm {
        margin-bottom: 5px;
    }

    #navigation-view .panel {
        margin-bottom: 5px;
        margin-left: 130px;
    }

    ul.maneuvers-list {
        margin: 15px 0;
    }

    #current-route-state.row {
        padding-top: 0;
    }

}

